<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1><br><br>
    <form method="post" action="login">
        {% csrf_token %}
        {% for message in messages%}
            {{message}}
        {% endfor %}<br><br>
    <input type="text" placeholder="userName" name="username"> <br><br>
    <input type="password" placeholder="password" name="password"> <br><br>
    <input type="Submit" value="Login">
</form>    
</body>
</html>