<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Yourself</title>
    <h1>Register</h1><br> <br>
</head>
<body>
    
   
    <form action="register" method="post">
        {% csrf_token %}
        {% for message in messages%}
            {{message}}
        {% endfor %}
        <br>
        <input placeholder="First Name" name="first_name" type="text"><br><br>
        <input placeholder="Last Name" name="last_name" type="text"><br><br>
        <input placeholder="user Name" name="username" type="text"><br>
    
        <br>
        <input placeholder="Email" name="email" type="email"><br><br>
        <input placeholder="Password" name="password1" type="password"><br><br>
        <input placeholder="Confirm Password" name="password2" type="password"><br><br>
        <input type="submit">
    </form>
    
</body>
</html>